$accent-color: #770b0b;
$secondary-color:  #5f5f5f;
$page-padding-left: 10mm;
$page-padding-right: 15mm;


@font-face {
  font-family: Roboto;
  src: url('/usr/share/fonts/truetype/roboto/unhinted/RobotoTTF/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('/usr/share/fonts/truetype/roboto/unhinted/RobotoTTF/Roboto-Bold.ttf');
  font-weight: bold;
}

@page {
  size: A4;
  margin: 10mm 0;

  @bottom-right {
    margin-bottom: 4mm;
    margin-right: 4mm;
    padding: 0;
    content: counter(page) "/" counter(pages) ;
  }
}

@page :first {
  margin-top: 0;
}

@media screen {
  html {
    background-color: #ababab;
  }
}

html {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  color: #000000;
}

body {
  width: 210mm - $page-padding-left - $page-padding-right;
  margin: 0 auto 0 auto;
  background: #FFFFFF;
  padding: 2rem $page-padding-right 2rem $page-padding-left;
  position: relative;
}

/* Hide markdown metadata */
.date, .author, figcaption {
  display: none;
}

.picture {
  position: absolute;
  top: 2.5rem;
  right: $page-padding-right;
  max-width: 280px;
  max-height: 213px;
}

h1.title {
  background-color: $accent-color;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 1.6em;
  position: absolute;
  top: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 40%;
  padding: 2mm;
}

section {
  padding-top: 0.6rem;
  padding-bottom: 0.8rem;

  &.level2:first-of-type {
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    background-color: transparentize($secondary-color, 0.8);
    width: auto;
    margin-left: -$page-padding-left;
    margin-right: -$page-padding-right;
    padding-left: $page-padding-left;
    padding-right: $page-padding-right;
    padding-top: 2.5rem;

    a {
      color: initial;
    }

    h2 {
      border-bottom-style: hidden;
    }
  }

  & section {
    padding-top: 0.4rem;
    padding-bottom: 0;
  }
}

h2 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: .8rem;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: $accent-color;
}

h3 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: .8rem;
}

dl {
  margin-top: 0;
  margin-bottom: 0.4rem;
  display: flex;
  flex-wrap: wrap;

  & > dt, & > dd {
    margin: 0 0 0.8rem;
  }

  & > dt {
    width: 33%;
  }

  & > dd {
    width: 66%;

    &::after{
      content: "\a";
      display: block;
    }
  }
}

ul, p {
  margin-top: .2rem;
  margin-bottom: .4rem;  
}

ul {
  padding-left: 2.4rem;

  dd > &:only-child {
    padding-left: 1.2rem;
  }
}

li {
  margin-bottom: .16rem;
}

a {
  text-decoration: none;
  color: darken($accent-color, 0.8);

  &:hover, &:active {
    text-decoration: none;
    color: lighten($accent-color, 0.6);
  }
}
